.cinemaHall {
    position: absolute;
    top: 180px;
    left: 180px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

body{
    background-color:#22252b;
}
.seat {
    height: 30px;
    width: 30px;
    margin: 6px;
    background-color: #999999;
    display: inline-block;
    cursor: pointer;
}
.passageBetween {
    height: 1px;
    width: 100%;
    display: block;
}
.bay {
    background-color: red;
}
.result {
    font-size: 10px;
    display: inline-block;
    width: 90px;
    max-height: 200px;
    overflow-y: auto;
    margin-right: 5px;
}
.screen{
    position: relative;
    width: 810px;
    background-color: #999999;
    height:40px;
    left: 26%;

}