<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Site Map - Site Map | Cinema - Free Website Template from Templates.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Place your description here" />
    <meta name="keywords" content="put, your, keyword, here" />
    <meta name="author" content="Templates.com - website templates provider" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="js/cufon-yui.js" type="text/javascript"></script>
    <script src="js/cufon-replace.js" type="text/javascript"></script>
    <script src="js/Gill_Sans_400.font.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="js/ie_png.js"></script>
    <script type="text/javascript">
        ie_png.fix('.png, .link1 span, .link1');
    </script>
    <link href="ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body id="page6">
<input id="roleUser" type="hidden" th:value="${user.roles[0]}"/>
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <!-- HEADER -->
            <div id="header">
                <div class="row-1">
                    <div class="fleft"><a href="/main">Cinema <span>World</span></a></div>
                </div>
                <div class="row-2">
                    <ul id="navli">
                        <li><a href="/main">Home</a></li>
                        <li><a href="/account">Account</a></li>
<!--                        <li><a href="articles.html">About Us</a></li>-->
                    </ul>
                </div>
            </div>
            <!-- CONTENT -->
            <div id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3>Admin<span> Page</span></h3>
                            </div >
                            <ul class="admin-function">
                                <li>
                                    <div class="wrapper">
                                        <a href="/add-movie" class="link2"><span>
                                        <span>Add movie</span>
                                        </span></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="wrapper">
                                        <a href="/shows" class="link2"><span>
                                        <span>Add movie session</span>
                                        </span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="wrapper">
                                        <a href="/genres" class="link2"><span>
                                        <span>Add genres</span>
                                        </span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="wrapper">
                                        <a href="/halls" class="link2"><span>
                                        <span>Add hall</span>
                                        </span></a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FOOTER -->
            <div id="footer">
                <div class="left">
                    <div class="right">
                        <div class="inside">Created by Alex Steshko<br/>
                            <a rel="nofollow" href="" class="new_window">Number:</a> +375 29 65 50 998<br />
                            <a rel="nofollow" href="" class="new_window">Instagramm:</a> steshko02<br />
                            <!--							<a href="http://www.templates.com/product/3d-models/" class="new_window">3D Models</a> provided by Templates.com-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let roleUser = document.getElementById("roleUser");

    if(roleUser.value=="ROLE_ADMIN") {
        let navLi = document.createElement("li");
        navLi.innerHTML = '<a href="/admin" class="active">Admin page</a>';
        document.getElementById("navli").appendChild(navLi);
    }
</script>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>